template(name='slide1')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meteor Cape Town
    h1 Meteor & Famo.us
    img.gravatar(src='/gravatar.png')
    h2 18th Feb, 2015
    .footer Gadi Cohen (gadicc)

template(name='slide2')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - The Speaker
    h3 So who am I?
    ul
      li Ex Cape Townian (Cool BBS, ZaNet)
      li 13 yrs PHP & MySQL experience
      li Not a slidedeck master
    h3 Meteor community
    ul
      li
        a(href="http://www.meteorpedia.com/",target="_TOP") Meteorpedia
      li
        a(href="http://messageformat.meteor.com/",target="_TOP") meteor-messageformat
      li
        a(href="http://famous-views.meteor.com",target="_TOP") famous-views
      li
        a(href="https://atmospherejs.com/gadicohen",target="_TOP") ... and 21 others.
      br
      li
        a(href="https://groups.google.com/forum/#!forum/meteor-talk",target="_TOP") meteor-talk
      li
        a(href="http://usermap.meteor.com/",target="_TOP") usermap
        | ,
        a(href="http://doingthiswith.meteor.com/",target="_TOP") doingThisWith
        | , etc.
    .footer gadicc

template(name='slide3')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - HTML5 and Mobile
    ul
      li
        b Web & App Design
        ul
          li App Store
          li Access to Phone API
          li Native feel
      br
      li
        b How?
        ul
          li Multiple code bases
          li Phonegap
          li Famous
    .footer gadicc

template(name='slide4')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - What is Famous?

    img(align="right",src="/famo-us-steve-and-mark-pic-780x520.jpg",style="height: 250px")
    p Where it came from?

    ul
      li Pinterest-meets-About.me
      li HTML5 fail on mobile
      li The Meteor Parallel
      br
      li Steve Newcomb, PowerSet, $100m
      li Mark Lu, Berkley, idea at 22.

    p And how it compares to what we currently use
    ul
      li DOM Layout vs Game Layout
      li What is hardware accelerated and what isn't
      li Physics Engine vs CSS / Tween animations

template(name='slide5')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Demos and Eye Candy
    ul
      li
        a(href="https://www.youtube.com/watch?v=z9PPD9z2sPM") Sizzle Real
        | - 1:30m, misc partial demos
      br
      li
        a(href="http://periodic.famo.us/") Famo.us Periodic Table
      li
        a(href="http://demo.famo.us/lightbox/") Lightbox Demo
      br
      li
        b Physics
      li
        a(href="http://famousbubble.meteor.com/") famousbubble.meteor.com
        | (
        a(href="http://meetupfamousslides.meteor.com/") slidedeck
        | )
        br
        | by Pierre-Eric Marchandet (PEM--)
      br
      li
        a(href="https://www.youtube.com/watch?v=6jg-PlisAFc") Facebook Paper in Famo.us
      li
        a(href="https://play.google.com/store/apps/details?id=com.demobo.tube") de Mobo Tube
        | ,
        a(href="http://youtu.be/liSuOkZICnw?t=22m40s") (dd+)
      br
      li
        a(href="http://youtu.be/EjLCfD8qrkE") Mixed Mode Keyboard
      li
        a(href="http://boot-com-webapp.herokuapp.com/") Boot-com
          | - basic widgets
      li
        a(href="http://codepen.io/befamous/")
          | Famo.us CodePen

    .footer gadicc

template(name='slide6')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Getting Started
    p Raw Famo.us -
      a(href="http://famo.us/university/lessons/#/famous-101/displaying/1") Surface
    +snippet lang="javascript"
      | var Engine = require('famous/core/Engine');
      | var Surface = require('famous/core/Surface');
      | 
      | var mainContext = Engine.createContext();
      | 
      | var firstSurface = new Surface({
      |   content: "&lt;h3>Hi!&lt;/h3>&lt;p>I'm a surface!&lt;br>I live inside a context." +
      |     "&lt;/p>&lt;p>You can add &lt;b>HTML&lt;/b> content to me and style me with " +
      |     "&lt;b>CSS!&lt;/b>&lt;/p>",
      |   size: [200, 200],
      |   properties: {
      |     backgroundColor: 'rgb(240, 238, 233)',
      |     textAlign: 'center',
      |     padding: '5px',
      |     border: '2px solid rgb(210, 208, 203)',
      |     marginTop: '50px',
      |     marginLeft: '50px'
      |   }
      | });
      | 
      | mainContext.add(firstSurface);
    .footer gadicc

template(name='slide7')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Getting Started
    p Raw Famo.us -
      a(href="http://famo.us/university/lessons/#/famous-101/positioning/2") Modifiers
    +snippet lang="javascript"
      | var Engine = require('famous/core/Engine');
      | var Surface = require('famous/core/Surface');
      | var Transform = require('famous/core/Transform');
      | var StateModifier = require('famous/modifiers/StateModifier');
      | 
      | var mainContext = Engine.createContext();
      | 
      | var stateModifier = new StateModifier({
      |   transform: Transform.translate(150, 100, 0)
      | });
      | 
      | var surface = new Surface({
      |   size: [100, 100],
      |   properties: {
      |     backgroundColor: '#FA5C4F'
      |   }
      | });
      | 
      | mainContext.add(stateModifier).add(surface);
    .footer gadicc

template(name='slide8')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Getting Started
    p Raw Famo.us -
      a(href="http://famo.us/university/lessons/#/famous-101/animating/3") Animation
      | (pages 3 + 7)
    +snippet lang="javascript"
      | var Engine = require('famous/core/Engine');
      | var Surface = require('famous/core/Surface');
      | var Transform = require('famous/core/Transform');
      | var StateModifier = require('famous/modifiers/StateModifier');
      | var Easing = require('famous/transitions/Easing');
      | 
      | var mainContext = Engine.createContext();
      | 
      | var surface = new Surface({
      |   size: [100, 100],
      |   properties: { color: 'white', textAlign: 'center', backgroundColor: '#FA5C4F' }
      | });
      | 
      | var stateModifier = new StateModifier();
      | 
      | mainContext.add(stateModifier).add(surface);
      | 
      | stateModifier.setTransform(
      |   Transform.translate(100, 300, 0),
      |   { duration : 1000, curve: Easing.inOutBack }
      | );
    .footer gadicc

template(name='slide9')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Famous-Views
    p "Doing Famo.us the Meteor Way"
    ul
      li <b>Primarily</b> - a low level wrapper around Famo.us
      li Create the render tree with <i>markup</i> and <i>reuseable templates</i>
      li Componentization via <i>inclusion</i> & <i>Template.x.rendered/events/helpers</i>
      li <i>famousEach</i> connects reactive data sources how you'd expect (demo later)
      li famousIf, 
      li View attributes accept flexible input and reactive helpers
      li Manages reactive computations for Meteor to avoid lost frames
      li Works out of the box with iron-router
    p and...
    ul
      li Wrappers around some of the few Famo.us provided views
      li
        a(href="http://famous-views.meteor.com/plugins") 13 powerful plugins
        | and counting.
      li
        a(href="https://github.com/meteor-useraccounts/famous-wrapper/") useraccounts:famous-wrapper
    .footer gadicc

template(name='slide10')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Getting Started
    p famous-views -
      a(href="http://famous-views.meteor.com/start") QuickStart
    +prism lang="bash"
      | $ meteor create app
      | $ cd app
      | 
      | # for Meteor >= 0.9.3 (!!)
      | $ meteor add mjn:famous OR raix:famono  # raix:famono since 0.9.14
      | $ meteor add gadicohen:famous-views     # ^__ released 2014-10-28
      | 
      | # Optional packages
      | $ meteor add mquandalle:jade            # if you want to use Jade
      | $ meteor add coffeescript               # if you want to use CoffeeScript
    p Other options
    ul
      li 
        code git clone https://github.com/gadicc/fview-quickstart.git
      li
        a(href="http://meteorpad.com/pad/ZGTm3XkR66n62xbZv") QuickStart on MeteorPad
      li
        | New Pad on
        a(href="http://fview-lab.meteor.com/") FView Lab
    .footer gadicc

template(name='slide11')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Getting Started
    p famous-views - Basics
    +snippet lang="spacebars"
      | &lt;head>
      |   &lt;!-- this is critical for mobile and emulation to look and work properly -->
      |   &lt;meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
      | &lt;/head>
      | 
      | &lt;body>
      |   {{dstache}}#famousContext id="mainCtx"}}
      |     {{dstache}}#Surface}}
      |       I am a full size Surface
      |     {{dstache}}/Surface}}
      |   {{dstache}}/famousContext}}
      | &lt;/body>
    else
      if currentLang "jade"
        | head
        |   // this is critical for mobile and emulation to look and work properly
        |   meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
        | 
        | body
        |   +famousContext id="mainCtx"
        |     +Surface
        |       | I am a full size Surface
    .footer gadicc


template(name="s1")
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - That's it!

    h3 Any Questions?  Useful links:

    p famous-views / slidedeck
    ul
      a(href="http://famous-views.meteor.com/") famous-views.meteor.com
      | - demo/docs, github, plugins
      a(href="http://meetup-fview-ct.meteor.com/") meetup-fview-ct.meteor.com
      | (
      a(href="https://github.com/gadicc/meetup-fview-ct") sources
      | )

    p famo.us
    ul
      li
        a(href="http://famo.us/") Official Famo.us Page
      li
        a(href="http://famo.us/university/home/#/") Famo.us university
      br
      li
        a(href="http://venturebeat.com/2014/08/13/famo-us-raises-25m-to-double-down-on-javascript-app-development-framework/")
          | Venture Beat Article (Aug 14)
      li
        a(href="https://hackpad.com/ep/pad/static/kPsHMaDFboE")
          | Famo.us Links Hackpad
      li
        a(href="http://codepen.io/befamous/")
          | Famo.us CodePen
    .footer gadicc

// famous meteor parallel, famous funding
// famous-views stars github downloads etc
// raw famous vs -views templating, each, etc
// what famous-views does
// famous university, famous links
// who needs physics, a lot of the demos are two engineery
// famous now, pros and cons (few tests, very low level, not stable, mixed mode), etc
// future: mixed mode, jquery, bootstrap, ionic

// contact page, github email etc
